/*Base.css*/

/*GLOBAL STYLING (APPLIES TO ALL PAGES.)*/

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body{
	margin: 0;
	padding: 0;
}

#links{
	display: inline;
}

#links > li{
	display: inline;
	list-style-type: none;
	padding: 10px 20px;
	transition: .5s;
}

#links > li > a{
	color: white;
	text-decoration: none;
	font-size: 120%;
	
}

#links > li:hover{
	border-bottom: 3px solid #BC1331;
}

#navbar{
	background-color: #383C48;
	padding: 5px;
}

#navTitle{
	display: inline;
	color: white;
	margin-left: 30px;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	font-size: 50px; 
}