/*Index.css*/

/*Styling that applies only to the homepage*/

.tabled2{
	width: 60%;
	padding-top: 20px;
	padding-left: 80px;
}

.tabled2a{
	width: 40%;
	padding-top: 20px;
	padding-right: 80px;
}


#welcomeTxt{
	margin: 0;
	font-family: 'Indie Flower', cursive;
	text-shadow: 1px 1px 1px black;
	color: grey;
	font-size: 600%;
}

#welcomeSub{
	margin-top: -20px;
	font-size: 150%;
	color: grey;
}

.imageControl{
	width: 50%;
	/*height: 300px;*/
	display: block;
	margin: 0 auto;
}

button{
	width: 300px;
	background-color: #BC1331;
	color: white; 
	border-radius: 5px;
	padding: 5px;
	font-size: 110%;
}

#initial{
	box-shadow: 2px 2px 2px transparent;
	transition: 1s;
}

#initial:hover{
	box-shadow: 2px 2px 2px #BC1331;
}

#secondSection{
	background-color: #383C48;
}

.tabled3{
	width: calc(100% / 3);
}

.testimonialName{
	color: white;
	text-align: center;
}

.testimonialPicture{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	border: 2px solid white;
}

.container{
	width: 100%;
}

table{
	width: 100%;
}

#sectionTitle{
	color: white;
	text-align: center;
	font-family: 'Indie Flower', cursive;
	font-size: 400%;
	padding-top: 30px;
	margin-top: 0
}

.title{
	color: white;
	text-align: center;
}

blockquote{
	color: white;
	font-style: italic;
}

.tbpadding{
	padding-bottom: 20px;
}